<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Users....</h1>
    <table border="5px">
        <tr>
            <th>UserId</th>
            <th>UserName</th>
            <th>E-Mail</th>
            <th>password</th>
        </tr>
        <%for(user of data){%>
            <tr>
                <td><%=user.userid%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td><%=user.password%></td>
                <td><form action="/<%=user.userid%>/edit" method="get">
                    <button>Edit UserName</button>
                </form></td>
            </tr>
        <%}%>
    </table>
    <script>
        window.addEventListener('load', () => {
            // Check if the URL contains 'posted=true'
            if (window.location.search.includes('data=ok')) {
                alert('Username updated ! \n \n Refreshing DataBase..');
            }
        });
    </script>
</body>
</html>

