<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
     crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/quora-style.css">
    <title>Main Page</title>
</head>
<body>
    <h1 id="h1"><div id="h1div">Bhole Bande !</div></h1>
    
        <%for(usr of data){%>
            <div class="post">
           <img src="<%=usr.avatar %>" alt="User Image" id="img">
            <div id="content"><h2 class="user">@<%=usr.username%></h2>
            <h5 class="content"><%=usr.content%></h5>
           <!-- Show Details -->
            <br>
           <p class="date"><%=usr.date.toString().split(" ").slice(0,4).join(" ")%></p>
              <hr id="inhr">
              <a href="http://localhost:3030/quora/<%=usr._id%>" class="btn btn-info" title="Show Details">
                <i class="fa-solid fa-circle-info"></i>
            </a>
   <!-- Edit Post -->
            <a href="http://localhost:3030/quora/<%=usr._id%>/edit" class="btn btn-warning" title="Edit Post">
              <i class="fa-regular fa-pen-to-square"></i>
              </a>
          <a href="http://localhost:3030/quora/<%=usr._id%>/delete" class="btn btn-danger" title="Delete Post">
                 <i class="fas fa-trash" ></i>
               </a>
            </div>
        </div>
        <hr>
        <%}%>
        <button class="btn btn-default" title="Create New Post"><a href="http://localhost:3030/quora/new" style="color: black; text-decoration: none;">Create New Post</a></button>
        <script>
            window.addEventListener('load', () => {
                // Check if the URL contains 'posted=true'
                if (window.location.search.includes('posted=true')) {
                    alert('Posted!');
                }
                else if(window.location.search.includes('posted=done')) {
                    alert('Changes Acknowledged!');
                }
                else if(window.location.search.includes('post=deleted')) {
                    alert('Post Deleted...');
                }
                else if(window.location.search.includes('pass=wrong')) {
                    alert('Incorrect Password \n Redirecting to Main Page');
                }
            });
        </script>
</body>
</html>

